<div class="shimmer-table-loader">
  <table>
    <thead>
      <tr>
        <th class="shimmer-th"></th>
        <th class="shimmer-th"></th>
        <th class="shimmer-th"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="shimmer-td"></td>
        <td class="shimmer-td"></td>
        <td class="shimmer-td"></td>
      </tr>
      <tr>
        <td class="shimmer-td"></td>
        <td class="shimmer-td"></td>
        <td class="shimmer-td"></td>
      </tr>
      <tr>
        <td class="shimmer-td"></td>
        <td class="shimmer-td"></td>
        <td class="shimmer-td"></td>
      </tr>
    </tbody>
  </table>
</div>
