<div class="user-profile">
  <app-loader *ngIf="loading"></app-loader>
  <div class="user-profile__top flex" *ngIf="!loading && !isError">
    <div class="user-profile__top--image">
      <p class="initial">{{user.name.charAt(0)}}</p>
    </div>
    <div class="user-profile__top--info">
      <p class="name">{{user.name}}</p>
      <div class="contact flex">
        <p class="link" (click)="openMail()">{{user.email}}</p>
        <div class="dot"></div>
        <p>{{user.phone}}</p>
        <div class="dot"></div>
        <p class="link" (click)="openWeb()">{{user.website}}</p>
      </div>
    </div>
  </div>
</div>